name: Python application

on:
  push:
   branches: [ master ]
  pull_request:
    branches: [ master ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        echo "${{ secrets.DOCKERPW }}" | docker login -u "hariprasad326" --password-stdin
        docker image build -t hariprasad326/nodeapp:v1 .
        docker push hariprasad326/nodeapp:v1
